

.menuItem {
  font-size: 16px;
  font-weight: bold;
  color: #387ADF; /* Menü öğesi rengi */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 1px;
  width: fit-content;
}
.menuItem:hover{
  color: #31acd8;
 
}
.category {
  color: #365486; /* Menü öğesi rengi */
  padding: 6px 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  

}
.category:hover{
  color: #31acd8; /* Menü öğesi rengi */

}

.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 2px;
  border-color: #365486;
border-width: 0.5px ;
  background-color: rgb(255, 255, 255);
}


.checked {
  background-color: #2e312c;
}

/* Küçük ekranlar için */
@media (max-width: 768px) {
  .top-menu {
    display: block; /* Üst menü görünecek */
  }
  .side-menu {
    display: none; /* Yan menü gizlenecek */
  }
}

/* Büyük ekranlar için */
@media (min-width: 769px) {
  .top-menu {
    display: none; /* Üst menü gizlenecek */
  }
  .side-menu {
    display: block; /* Yan menü görünecek */
  }
}












.dropdown {
  width: 180px;
  padding: 0.4rem;
  color: #365486; /* Menü öğesi rengi */
  font-weight: 420;
  font-size: 95%;

}


.dropdown :hover{
  color: #31acd8; /* Menü öğesi rengi */
}













.mainContent {
  display: flex;
  width: 100%;
}



















